.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.infected-card, .recovered-card, .deaths-card {
    margin: 2% 2% !important;
}

.chart-container {
    width: 70% !important ;
}

.infected-card {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered-card {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths-card {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.covid-img, .country-selector {
    margin: 2% 2% !important;
}

@media (min-width: 400px) {
    .country-selector {
        width: 60% !important;
    }
    .infected-card, .recovered-card, .deaths-card {
        width: 80% !important;
    }
}

@media (min-width: 1000px) {
    .infected-card, .recovered-card, .deaths-card {
        width: 25% !important;
    }
    .country-selector {
        width: 30% !important;
    }
}